## Visual Studio / C#
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/

## NuGet
packages/
*.nuget.props
*.nuget.targets

## Publish / Deployment Output
publish/
publish.zip
publish.zip.tmp

## Logs and Runtime Settings
QuartzSettings/
*.log

## OS Files
Thumbs.db
Ehthumbs.db
Desktop.ini
.DS_Store
